<template>
  <div id="app" class="g-wrapper">
    <app-header></app-header>
    <div class="g-body">
      <app-error></app-error>
      <app-loader></app-loader>
      <router-view/>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import Error from './components/Error.vue';
import Loader from './components/Loader.vue';
export default {
  name: 'app',
  components: {
    'app-header': Header,
    'app-error': Error,
    'app-loader': Loader,
    'app-footer': Footer
  },
  data () {
    return {};
  }
};
</script>

<style>
/* body {
  background: rgba(0, 0, 0, 0.85);
} */

.g-sidebar {
  grid-area: sidebar;
}

.g-body {
  grid-area: body;
}

.g-header {
  grid-area: header;
}

.g-footer {
  grid-area: footer;
}

.g-wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(1fr, 5);
  grid-template-areas:
    '... header header header ...'
    '... body body body ...'
    '... footer  footer  footer ...';
}

.g {
  display: grid;
  grid-gap: 0.5rem;
}
</style>
