<template>
  <div>

    <div class="g" v-if="posts.length > 1">
      <div class="card" v-for="post in posts" :key="post._id">
        <div class="card-header">
          <div class="text-gray float-right">
            <span class="label">{{post.createdAt | moment}}</span>
          </div>
          <div class="card-title h5">{{post.title}}</div>
          <div class="card-subtitle text-gray">{{post.author}}</div>
        </div>
        <!-- call filters with html directive -->
        <!-- https://github.com/vuejs/vue/issues/4352 -->
        <!-- <div class="card-body" v-html="$options.filters.nl2br(post.content)"></div> -->
        <!-- <div class="card-body">
          <vue-simple-markdown v-bind:source='post.content'></vue-simple-markdown>
        </div> -->
        <div class="card-footer">
          <!-- <span>{{post._id}}</span> -->
          <router-link class="btn btn-primary tooltip tooltip-bottom" data-tooltip="continue reading" v-bind:to="{ name: 'Post', params: { id: post._id } }">Read</router-link>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';
import nl2br from 'nl2br';
// import BlogPost from './Post.vue';
export default {
  computed: {
    ...mapState(['isLoading','hasError','posts'])
  },
  mounted(){
    this.fetchPosts();
  },
  filters: {
    moment: date => {
      return moment(date).format('YYYY-MM-DD H:MM A');
    },
    nl2br: s => {
      return nl2br(s);
    }
  },
  created() {
    while(this.hasError){
      setInterval(() => {
        this.fetchPosts();
      }, 10000);
    }
  },
  methods: {
    ...mapActions(['fetchPosts'])
  }
};
</script>
