<template>
  <div v-if="hasError">
    <div class="toast toast-error text-center">
      <span><i class="fas fa-exclamation-triangle"></i> {{error}}</span>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  computed: {
    ...mapState(['hasError','error'])
  }
};
</script>

