<template>
  <div class="g-footer">
    <div class="panel">
      <div class="panel-header">
        <div class="panel-title"></div>
      </div>
      <div class="panel-nav"></div>
      <div class="panel-body centered">Made with <i class="fas fa-heart"></i> by Luke Brown, fork me on <a href="https://gitlab.com/Dynamic-Gravity">GitLab <i class="fab fa-gitlab"></i></a></div>
      <div class="panel-footer centered">
        Powered by <a href="https://picturepan2.github.io/spectre/index.html">Spectre</a> and <a href="https://vuejs.org/">Vue <i class="fab fa-vuejs"></i></a>
      </div>
    </div>
  </div>
</template>
