<template>
  <div class="g-header">
    <router-link v-bind:to="{ name: 'SignIn' }">Sign In</router-link>
      <!-- <li class="tab-item tab-action">
        <div class="input-group input-inline">
          <input class="form-input input-sm" type="text" placeholder="search...">
          <button class="btn btn-primary btn-sm input-group-btn tooltip tooltip-bottom" data-tooltip="search for specific posts">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </li> -->
  </div>
</template>
