<template>
  <div v-show="isLoading" class="text-center">
    <div><i id="loader" class="fas fa-sync-alt fa-2x"></i></div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  computed: {
    ...mapState(['isLoading'])
  }
};
</script>

<style scoped>
#loader {
  animation: loading-spin infinite 1s linear;
}

@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-moz-keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
</style>
